::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    font-family: "Kanit", sans-serif;
}

body{
    width: 100%;
    background-color: rgb(236, 244, 243);
}

.head{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./pics/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head .navbar{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 1000;
}

.head .navbar div{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .navbar .logo_div .logo{
    font-size: 2em;
    font-weight: 400;
}

.head .navbar .nav_menu_div .nav_menu{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.head .navbar .nav_menu_div .nav_menu .nav_element a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.1em;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.1s;
}

.head .navbar .nav_menu_div .nav_menu .nav_element a:hover{
    color: rgb(160, 160, 160);
    border-bottom: 2px solid rgb(160, 160, 160);
    cursor: pointer;
}

.active_nav_element{
    border-bottom: 2px solid white !important;
}

.head .navbar .cta_div .cta{
    background-color: rgb(42, 157, 143);
    font-size: 1.3em;
    font-weight: 400;
    height: 3.5rem;
    width: 14rem;
    outline: none;
    border: none;
    transition: background-color 0.1s;
}

.head .navbar .cta_div .cta:hover{
    background-color: rgb(33, 126, 115);
    cursor: pointer;
}

.head .hero_outer{
    height: calc(100vh - (2 * 13vh));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .hero_outer .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head .hero_outer .hero .section_name{
    font-size: 1.2vw;
    line-height: 4vw;
    font-weight: 300;
    letter-spacing: 0.05vw;
}

.head .hero_outer .hero .title{
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 300;
    text-align: center;
}

.head .hero_outer .hero .cta{
    background-color: rgb(42, 157, 143);
    font-size: 1.3em;
    font-weight: 400;
    height: 3.5rem;
    width: 14rem;
    margin-top: 3vw;
    outline: none;
    border: none;
    transition: background-color 0.1s;
}

.head .hero_outer .hero .cta_div .cta:hover{
    background-color: rgb(33, 126, 115);
    cursor: pointer;
}

.about{
    width: 100%;
    height: 160vh;
    margin-top: -13vh;
    display: flex;
    justify-content: center;
}

.about .content_area{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about .content_area .description_headline{
    width: 100%;
    height: 80vh;
    display: flex;
}

.about .content_area .description_headline .text_area{
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .content_area .description_headline .text_area .content_area{
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about .content_area .description_headline .text_area .content_area .section_name{
    color: rgb(42, 157, 143);
    font-size: 1.4em;
    font-weight: 300;
}

.about .content_area .description_headline .text_area .content_area .title{
    color: black;
    font-size: 3.1em;
    font-weight: 400;
    line-height: 3vw;
}

.about .content_area .description_headline .text_area .content_area .description{
    color: rgb(100, 100, 100);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7vw;
}

.about .content_area .description_headline .text_area .content_area .cta{
    background-color: rgb(42, 157, 143);
    font-size: 1.3em;
    font-weight: 400;
    height: 3.5rem;
    width: 14rem;
    outline: none;
    border: none;
    transition: background-color 0.1s;
}

.about .content_area .description_headline .text_area .content_area .cta:hover{
    background-color: rgb(33, 126, 115);
    cursor: pointer;
}

.about .content_area .description_headline .image_area{
    flex: 1;
    background-image: url(./pics/about-us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about .content_area .values_headline{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}

.about .content_area .values_headline .section_name{
    color: rgb(42, 157, 143);
    font-size: 1.4em;
    font-weight: 300;
}

.about .content_area .values_headline .title{
    color: black;
    font-size: 3.1em;
    font-weight: 400;
    line-height: 3vw;
    text-align: center;
}

.about .content_area .values_headline .values_list{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4vw;
}

.about .content_area .values_headline .values_list .list_element{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.about .content_area .values_headline .values_list .list_element .number{
    color: rgb(42, 157, 143);
    font-size: 1.4em;
    font-weight: 300;
}

.about .content_area .values_headline .values_list .list_element .title{
    color: black;
    font-size: 2em;
    font-weight: 400;
    line-height: 3vw;
    text-align: left;
}

.about .content_area .values_headline .values_list .list_element .description{
    color: rgb(100, 100, 100);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7vw;
}

.middle_cta{
    background-color: rgb(47, 49, 49);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle_cta .section_name{
    font-size: 1.2vw;
    line-height: 4vw;
    font-weight: 300;
    letter-spacing: 0.05vw;
}

.middle_cta .title{
    color: white;
    font-size: 3.1em;
    font-weight: 400;
    line-height: 3vw;
    text-align: center;
}

.middle_cta .cta{
    background-color: rgb(42, 157, 143);
    font-size: 1.3em;
    font-weight: 400;
    height: 3.5rem;
    width: 14rem;
    outline: none;
    border: none;
    transition: background-color 0.1s;
    margin-top: 2vw;
}

.proposition{
    background-color: white;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proposition .content_area{
    width: 78%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.proposition .content_area .main_text{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}

.proposition .content_area .main_text .section_name{
    color: rgb(42, 157, 143);
    font-size: 1.4em;
    font-weight: 300;
}

.proposition .content_area .main_text .title{
    color: black;
    font-size: 3.1em;
    font-weight: 400;
    line-height: 3vw;
}

.proposition .content_area .main_text .description{
    color: rgb(100, 100, 100);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7vw;
}

.proposition .content_area .proposition_list{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.proposition .content_area .proposition_list .list_element .title{
    color: black;
    font-size: 2em;
    font-weight: 400;
    line-height: 3vw;
    text-align: left;
}

.proposition .content_area .proposition_list .list_element .description{
    color: rgb(100, 100, 100);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7vw;
}